.dan
{
	background-color:red;
}
#dan2
{
	background-color:green;
}
#dan3
{
	background-color:blue;
}
#dan4
{
	background-color:red;
}
#dan5
{
	background-color:green;
}
#dan6
{
	background-color:blue;
}
#dan7
{
	background-color:red;
}
#dan8
{
	background-color:green;
}
#dan9
{
	background-color:blue
}


